 

/**
 *  CSS Notification
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-block-transitions {
  transition:0s all!important;
  -webkit-transition:0s all!important;
} 
.ng-hide-add-active, .ng-hide-remove {
  display: block!important;
}

.ui-notification
{
    position: fixed;
    z-index: 9999;

    width: 300px;

    cursor: pointer;
    -webkit-transition: all ease .5s;
         -o-transition: all ease .5s;
            transition: all ease .5s;

    color: #fff;
    border-radius: 0;
    background: #337ab7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.ui-notification.killed
{
    -webkit-transition: opacity ease 1s;
         -o-transition: opacity ease 1s;
            transition: opacity ease 1s;

    opacity: 0;
}
.ui-notification > h3
{
    font-size: 14px;
    font-weight: bold;

    display: block;

    margin: 10px 10px 0 10px;
    padding: 0 0 5px 0;

    text-align: left;

    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.ui-notification a
{
    color: #fff;
}
.ui-notification a:hover
{
    text-decoration: underline;
}
.ui-notification > .message
{
    margin: 10px 10px 10px 10px;
}
.ui-notification.warning
{
    color: #fff;
    background: #f0ad4e;
}
.ui-notification.error
{
    color: #fff;
    background: #d9534f;
}
.ui-notification.success
{
    color: #fff;
    background: #5cb85c;
}
.ui-notification.info
{
    color: #fff;
    background: #5bc0de;
}
.ui-notification:hover
{
    opacity: .7;
}
 
nav { 
  box-shadow: 5px 4px 5px #000;
}

/**
 *  CSS Customizacao
 */
input[type=range]{ 	
  -webkit-transform:rotate(270deg); 
} 
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
input[type=checkbox] {
  transform: scale(1.5);
}
linhaForm{
	padding-top: 5px;
}
blocos{
	box-shadow: 10px 10px 5px #888888;
}
.rcorners1 {
    border-radius: 25px;
    background: #73AD21;  
}

.fotoContainer img {
  max-height:100%;
  max-width: 100%;
} 
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.form-inline > * {
   margin:5px 5px;
}
.linhaTabela{
	font-size: medium;
}